doctype html
html
head
	//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title THIS TESTING EMAIL
	//- import css/scss stylesheets
	//- these file names will be replace by gulp with proper css file paths

	link(rel="stylesheet", href="../sass/styles.scss")

body
	table(class='outer-table header-table', cellpadding="0", border="0", cellspacing="0")
		tr
			td.content.main-table 
				table.three-column
					tr
						td.content.section
							p.white-color <strong>Month 2018</strong>
						td.section
							img(src='./imgs/company-logo.png')
						td.section.last.social-list
							table
								tr 
									td 
										a(href='/')
											img(
												class='social-fb-icon' 
												src='./imgs/social-fb.png'
												alt='facebook-link'
												)
									td
										a(href='/')
											img(
												class='social-twi-icon'
												src='./imgs/social-twi.png'
												alt='twitter-link'
												)
									td 
										a(href='/')
											img(
												class='social-blog-icon'
												src='./imgs/social-blog.png'
												alt='blog-link'
												)
	//- END header table
	//- section post header text 
	table.post-header-text
		tr
			td.main-table
				table.one-column
					tr 
						td.content 
							p You’re the best. Thanks for continuing to rely on Evercontact to keep that address book of yours up-to-date. 
							br
							p Let’s take a look at your monthly stats!
	//- END section post header text 
	//- section maths, statistic 
	table.bg-color.math-table 
		tr
			td.outer-table
				table
					tr
						td.first-row
							table.three-column 
								tr
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-folder.png')
												td
													h3.primary-color 47 new
													p New contacts added to your address book 
									td.section.math-symbol.section
										table
											tr
												td
													img( src='./imgs/math_plus.png')
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-contact.png')
												td
													h3.primary-color 47 updated
													p Existing contacts updated with new or missing info
									td.section.math-symbol.section
										table
											tr
												td
													img( src='./imgs/math_equal.png')
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-reload.png')
												td
													h3.primary-color 47 total
													p Total contacts Updated
					tr
						td.last-row
							table.three-column
								tr
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-people.png')
												td
													h3.primary-color 47 contacts
													p New contacts added to your address book
									td.section.math-symbol
										table
											tr
												td
													img( src='./imgs/math_multi.png')
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-clock.png')
												td
													h3.primary-color 5min per
													p New contacts added to your address book
									td.section.math-symbol
										table
											tr
												td
													img( src='./imgs/math_equal.png')
									td.section
										table
											tr
												td.td-padding
													img(class="icon" src='./imgs/Group-1-time.png')
												td
													h3.primary-color 24hr saved
													p Time saved using Evercontact!
	//- END section for all the maths
	//- section for dates of the month
	table.monthly-table 
		tr
			td.main-table
				table.two-column
					tr
						td.section
							table
								tr
									td.td-padding
										img(class='icon' src='./imgs/Group-2-mailbox.png')
									td
										h3.primary-color 47% increase
										p Up X% over last month
						td.section
							table.last
								tr.content
									td.td-padding
										img(class='icon' src='./imgs/Group-2-inmail.png')
									td
										h3.primary-color 47 emails
										p Total emails received
	//- END section for dates of the month
	//- section for special people
	table.people-table.bg-color
		tr
			td.three-column.outer-table
				table.three-column
					tr
						td.section
							table
								tr
									td.td-padding
										img(class='icon' src='./imgs/Group-3-star.png')
									td
										p.primary-color person name - title
										p is your most popular contact
						td.section
							table
								tr
									td.td-padding
										img(class='icon' src='./imgs/Group-3-phone.png')
									td
										p.primary-color person name - title
										p has a new phone number
						td.section
							table
								tr
									td.td-padding
										img(class='icon' src='./imgs/Group-3-mail.png')
									td
										p.primary-color person name - title
										p has a new email address
	//- 🤟 END section for special people
	//- section above total statistic
	table.above_statistic
		tr
			td.main-table
				table.three-column
					tr
						td.section
							table
								tr
									td
										p Your Status:
						td.section
							table
								tr
									td
										p <strong>Rank: OG</strong>
						td.section
							table
								tr
									td
										p Member since Month day, year
	//- END section above total statistic
	//- section total statistic
	table(class="total-statistic" cellpadding="0", border="0", cellspacing="0")
		tr
			td.outer-table.border-wrapper
				table.three-column
					tr
						td.section.first
							table
								tr
									td.padding
										h3.primary-color 47,000
										p Total contacts added
						td.section
							table
								tr
									td.padding
										h3.primary-color 47,000
										p Total contacts updated
						td.section.last
							table
								tr
									td.padding
										h3.primary-color 47,000
										p Grand total
	//- END section total statistic
	//- section below total statistic
	table.below_statistic
		tr
			td.main-table
				table.single-column
					tr
						td.section
							table
								tr
									td
										p <strong>Plan: Essentials </strong>
									td
										p 
											a(class="primary-color" href="http://www.yahoo.com")="(upgrade)"
					
	//- END section below total statistic
	//- Section quotes and tips
	table.quotes_and_tips
		tr
			td.outer-table
				table.bg-color.two-column
					tr
						td.section
							table 
								tr
									td.quotes-icon-padding
										img(class="icon-quotes" src='./imgs/Group-4-quotes.png')
									td.padding
										p Evercontact’s become my ‘set it + forget it’ tool for getting organized.
										br
										p <strong>Sarah Perez, TechCrunch</strong>
						td.section
							table.bg-primary-color
								tr
									td.padding.extra
										p.white-color <em><strong>Pro-Tip:</strong> Boost your sales conversions with these three key steps</em>
	//- END Section quotes and tips
	//- FOOTER
	table.footer
		tr
			td.outer-table
				table.three-column
					tr
						td.section.first
							table
								tr
									td 
										img(class="icon-made-in-ny" src='./imgs/made-in-ny.png')
									td 
										p © 2018 One More Company, Inc.
						td.section.second
							table
								tr
									td 
										p 
											a(class="" href="http://www.yahoo.com")="Unsubscribe"
						td.section.last
							table
								tr
									td 
										p 61 Broadway New York, NY 10006
									
	//- FOOTER
